.titulo{
    margin: 0 0 0 0;
}

.subtitulo{
    margin: 0 0 0 0;
}

table {
    font-size: 11px;
    font-family: Consolas,monospace;
}

th, td {
    border: 1px solid #ccc;
    padding: 2px 2px 2px 2px;
    text-align: center;    
    width: auto;
    height: auto;
}

th {
    background-color: #f2f2f2;
}

.centro {
    width: 100%; /* Ancho del contenedor principal */
    height: auto; /* Altura del contenedor principal (puedes ajustarla según tus necesidades) */
    display: block;  /* Utilizar flexbox para distribuir los divs horizontalmente */
}

/*#horarioHora{
    width: 65px;
}*/

/*.cols{
    border: 1px solid #000;
}*/

/* Estilo de los divs internos */
#divHorario{
    width: 100%;
    height: auto;
}

#divTurnos{
    width: auto;
    padding: 5px 5px 5px 5px;
    height: auto ;
}

#turnos{
    display: table;
}

.fila{
    display: table-row;
    /*display: table-cell;*/
    padding: 5px
}

.celda{
    display: table-cell;
    margin: 0 20px;
}

label, select {
    margin-bottom: 5px; /* Espacio entre etiquetas y select */
    margin-right: 5px;
}

select{
    align-items: end;
}