.titulo{
    margin: 0 0 0 0;
}

.subtitulo{
    margin: 0 0 0 0;
}

h1{
    text-align: center;
    padding: 5px 0px 10px;
}

h3{
    padding: 5px 0px 5px;
}

button {
    display: inline-block;
    padding: 2px 5px;
    background-color: #db3434;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    margin: 15px 15px 15px 5px;
  }
  
  /* Efecto al pasar el cursor por encima (hover) */
  button:hover {
    background-color: #9f2424;
  }
  
  /* Efecto al presionar el botón (active) */
  button:active {
    background-color: #951909;
  }



select{
    align-items: end;
}

table {
    font-size: 11px;
    font-family: Consolas,monospace;
}

th, td {
    border: 1px solid #ccc;
    padding: 2px 2px 2px 2px;
    text-align: center;    
    width: auto;
    height: auto;
}

th {
    background-color: #f2f2f2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.218); /* Fondo semitransparente */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    display: none; /* Inicialmente oculto */
}

.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 50%; /* Centra verticalmente en la ventana */
    left: 50%; /* Centra horizontalmente en la ventana */
    transform: translate(-50%, -50%); /* Centra el modal */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10000; /* Asegura que esté por encima de otros elementos */
    max-width: 80%; /* Ancho máximo del modal */
    overflow-y: auto; /* Agrega barras de desplazamiento si el contenido es largo */
}

.tuerca {
    margin: 0 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.iconos {
    display: flex;
    justify-content: center;
}

.centro {
    width: 100%; /* Ancho del contenedor principal */
    height: auto; /* Altura del contenedor principal (puedes ajustarla según tus necesidades) */
    display: block;  /* Utilizar flexbox para distribuir los divs horizontalmente */
}

.fila{
    display: table-row;
    /*display: table-cell;*/
    padding: 5px;
}

.celda{
    display: table-cell;
    margin: 0 30px 5px;
}

input[type="number"] {
    text-align: center;
}

/*#horarioHora{
    width: 65px;
}*/

/*.cols{
    border: 1px solid #000;
}*/

#turnos{
    display: table;
}

#superior{
    display: flex;
}

#divTurnos,#botones {
    flex: 1; /* Distribuye el espacio de manera igual entre ambos divs */
    padding: 10px;
    border: 1px solid #ccc;
}

#divHorario{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divTurnos{
    width: auto;
    padding: 5px 5px 5px 5px;
    height: auto ;
}

#botones{
    align-items: center;
}