.titulo{
    margin: 0 0 0 0;
}

.subtitulo{
    margin: 0 0 0 0;
}

h1{
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.218); /* Fondo semitransparente */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    display: none; /* Inicialmente oculto */
}

.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 50%; /* Centra verticalmente en la ventana */
    left: 50%; /* Centra horizontalmente en la ventana */
    transform: translate(-50%, -50%); /* Centra el modal */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10000; /* Asegura que esté por encima de otros elementos */
    max-width: 80%; /* Ancho máximo del modal */
    overflow-y: auto; /* Agrega barras de desplazamiento si el contenido es largo */
}

.tuerca {
    margin: 0 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.iconos {
    display: flex;
    justify-content: center;
}

table {
    font-size: 11px;
    font-family: Consolas,monospace;
}

th, td {
    border: 1px solid #ccc;
    padding: 2px 2px 2px 2px;
    text-align: center;    
    width: auto;
    height: auto;
}

th {
    background-color: #f2f2f2;
}

.centro {
    width: 100%; /* Ancho del contenedor principal */
    height: auto; /* Altura del contenedor principal (puedes ajustarla según tus necesidades) */
    display: block;  /* Utilizar flexbox para distribuir los divs horizontalmente */
}

/*#horarioHora{
    width: 65px;
}*/

/*.cols{
    border: 1px solid #000;
}*/

/* Estilo de los divs internos */
#divHorario{
    width: 100%;
    height: auto;
}

#divTurnos{
    width: auto;
    padding: 5px 5px 5px 5px;
    height: auto ;
}

#turnos{
    display: table;
}

.fila{
    display: table-row;
    /*display: table-cell;*/
    padding: 5px
}

.celda{
    display: table-cell;
    margin: 0 20px;
}

label, select {
    margin-bottom: 5px; /* Espacio entre etiquetas y select */
    margin-right: 5px;
}

select{
    align-items: end;
}